*{
    margin: 0;
    padding: 0;
}
body{
   background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),url(celebration.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%; 
}
/*head**/
.h3{
    text-decoration: underline rgb(241, 241, 239);
    font-size: 50px;
    color: rgb(242, 170, 1);
    margin-bottom: 50px;
}
.head{
    
    font-size: 20px;
    font-weight: none;
    height:400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
    margin-bottom:20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.budjet{
    background-color: white;
    color: black;
    border: 1px solid white;
    box-shadow:1px 1px 1px rgba(0,0,0,0.5);
    width: 500px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    
}
/*main**/
.main .input{
    display: flex;
    flex-direction:row;
    
    align-items: center;
 
    gap: 5px;
    /*margin-bottom:50px;**/
    margin-top:50px;
}

.input{
    background-color: rgb(218, 216, 216);
    padding:50px;
}
.input input{
    width: 250px;
    height: 30px;
    font-size: 18px;
    
}
.input_expense input{
         outline: none;
        border: 1px solid red;
        border-radius:5px ;
        padding-left: 5px;
        color: rgb(238, 82, 82);
}
.input_expense input:active{
    
        border: 1px solid red;
}
.input_income input{
         outline: none;
        border: 1px solid rgb(10, 10, 10);
        border-radius:5px ;
        padding-left: 5px;
}

.input_produit input{
         outline: none;
        border: 1px solid rgb(10, 10, 10);
        border-radius:5px ;
        padding-left: 5px;
}

.button button{
    width: 70px;
     height: 30px;
     background-color: rgb(102, 101, 101);
     color: rgb(249, 246, 246);
     border-radius:5px ;
     border: none;
     font-size: 15px;
     font-weight: bold;
     padding: 10px;
}

.button button:hover{
    background-color: rgb(248, 174, 174);
}
/*container**/

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     background-color: white;
     padding: 20px;
    /* margin-top: 20px;**/
     margin-bottom: 20px;
     height:500vh;
    
}
ul li{
    border-bottom: 1px solid rgb(180, 180, 180);
    width: 300px;
    padding: 20px;


}
.expenses .expenses_title{
    color: rgb(246, 44, 4);
}
